# PyCity Schools Analysis

***INSERT ANALYSIS HERE!!***

In [5]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np


# File to Load 
school_data_to_load = os.path.join("C:/Users/Dell/Downloads/GITHUB/Pandas-Challenge/PyCitySchools/Starter_Code/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = os.path.join("C:/Users/Dell/Downloads/GITHUB/Pandas-Challenge/PyCitySchools/Starter_Code/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv (school_data_to_load)
student_data = pd.read_csv (student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [58]:
# Calculate the total number of unique schools
school_names = len(school_data_complete["school_name"].unique())
school_count

15

In [7]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [8]:
# Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [9]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [10]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean() 
average_reading_score

81.87784018381414

In [11]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [12]:
# Calculate the percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [13]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [14]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                        "Total Students": [student_count],
                        "Total Budget": total_budget,
                        "Average Math Score": average_math_score,
                        "Average Reading Score": average_reading_score,
                        "% Passing Math": passing_math_count,
                        "% Passing Reading": passing_reading_count,
                        "% Overall Passing": overall_passing_rate,})


# Formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,29370,33610,65.172326

# Schools Summary

In [57]:
# Use the code provided to select all of the school types
#school_types = school_data_complete.groupby(["school_name"])
school_types = school_data.set_index("school_name").groupby(["school_name"])
school_types.head()
#school_types = school_names["School ID"].count()
#school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [55]:
# Calculate the total student count per school
per_school_counts = 
per_school_counts

school_name
Bailey High School       1
Cabrera High School      1
Figueroa High School     1
Ford High School         1
Griffin High School      1
Hernandez High School    1
Holden High School       1
Huang High School        1
Johnson High School      1
Pena High School         1
Rodriguez High School    1
Shelton High School      1
Thomas High School       1
Wilson High School       1
Wright High School       1
Name: School ID, dtype: int64

In [20]:
# Calculate the total school budget and per capita spending per school
per_school_budget = 
per_school_capita =

SyntaxError: invalid syntax (1628006228.py, line 2)

In [ ]:
# Calculate the average test scores per school
per_school_math = 
per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = 
school_students_passing_math =

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = 
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary